.mystyle {
  background-color: rgb(16, 78, 16);
  color: white;
  padding: 15px 32px;
  box-sizing: border-box;
  }
.heading
{
    text-align: center;
    color:chocolate;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 70px;
    font-size: 40px;
}
#adding-details{
    background-color: #1e7454;
    border: none;
    color: white;
    border-radius: 25px;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin-left:614px;
    cursor: pointer;

}
table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
    padding: 15px;
  }
  
  table {
    border-collapse: collapse;
    margin-left: 180px;
    margin-top: 80px;
    border-radius: 7px;
    width: 80%;
  }
  

  input {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 9px;
    
  } 

  .formm
  {
    margin-left: 450px;
    background-color: white;
  }
  #add-book-button
  {
    background-color: #0e573c;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin-left:174px;
    cursor: pointer;
  }
  button{
    background-color: rgb(155, 58, 58);
    color: white;
    cursor: pointer;
    margin-left: 120px;
    padding: 15px 32px;
  }
  #remove
  {
    background-color: #0d5a3e;
    margin-left: 120px;
    cursor: pointer;
    padding: 15px 32px;
  }